<h1>Sent Messages</h1>


  <% @messages.each do |message| %>
  <h4>"<%= link_to message.body, message_path(message) %>"</h4>
  <% end %>


<!-- select
optionvalue = "person.name"
optionvalue = "person.name"
optionvalue = "person.name"
/select

value= selected person.email -->

<div class="column">
  <h1>Saved Contacts <small>Click to send a message</small></h1>
  <% if @contacts %>
    <% @contacts.each do |contact| %>
      <h4><%= link_to contact.name, contact_path(contact) %>'s number: <%= contact.number %></h4>
      <% end %>
    <% end %>

  <%= form_for @contact do |f| %>
    <%= f.label :Name %>
    <%= f.text_field :name %>
    <%= f.label :Number %>
    <%= f.text_field :number %><br>
    <button class="btn btn-xs btn-primary">Add</button>
  <% end %>
</div>
