<h1>New Message</h1>

<% if @message.errors.any? %>
  <p>Error:</p>
  <% @message.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

  <button id="add" class="btn btn-xs btn-primary">Add another number</button><br>

<%= form_for @message do |f| %>
  <div id="new-number"></div>
  <%= f.label :from %>
  <%= f.text_field :from %>
  <%= f.label :to %>
  <%= f.text_field :to %><br>
  <%= f.label :body %><br>
  <%= f.text_area(:body, size: "30x2") %><br>
  <button class="btn btn-xs btn-primary">Send</button>
<% end %>
